<ul class="nav nav-tabs">
	<li>
		<a href="{$Think.const.SITE_URL}Super/AuthAndRole/index">
			父级权限
		</a>
	</li>
	<li>
		<a href="{$Think.const.SITE_URL}Super/AuthAndRole/index2">
			子级权限
		</a>
	</li>
	<li class="hidden">
		<a href="{$Think.const.SITE_URL}Super/AuthAndRole/add">
			权限添加
		</a>
	</li>

	<li class="hidden">
		<a href="{$Think.const.SITE_URL}Super/AuthAndRole/edit">
			权限编辑
		</a>
	</li>
	<li>
		<a href="{$Think.const.SITE_URL}Super/AuthAndRole/roleIndex">
			角色管理
		</a>
	</li>
	<li class="hidden">
		<a href="{$Think.const.SITE_URL}Super/AuthAndRole/roleAdd">
			角色添加
		</a>
	</li>
	<li class="hidden">
		<a href="{$Think.const.SITE_URL}Super/AuthAndRole/roleEdit">
			角色编辑
		</a>
	</li>
	<li class="hidden">
		<a href="{$Think.const.SITE_URL}Super/AuthAndRole/rolePower">
			权限编辑
		</a>
	</li>
</ul>
