<extend name="layout/layout" />

<block name="nav">
  <include file="AuthAndRole:nav" />
</block>

<block name="tab-content">

    <present name="error">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>

            <strong>
                <i class="ace-icon fa fa-times"></i>
            </strong>
            {$error}
            <br>
        </div>
    </present>

    <present name="message">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>

            <strong>
                <i class="ace-icon fa fa-check"></i>
            </strong>
            {$message}
            页面自动 <a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间： <b id="wait"><?php echo($waitSecond); ?></b>
            <br>
        </div>
    </present>
            <!-- PAGE CONTENT BEGINS -->
<div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><a href="{$Think.const.SITE_URL}Super/PerAndRole/role_add" style="color:#333">新增</a>
            </button>
            <button id="btn_delete" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
            <select id="zl_export" style="height:34px;border-radius:0px;border-left:none;color:#333">
                <option value="all">导出全部</option>
                <option value="basic">导出本页</option>
                <option value="selected">导出选中</option>
            </select>
        </div>

<table id="tb_departments">

</table>
<div id="zl_cont"> </div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:60%;height:80%;overflow:scroll;overflow-x:auto;overflow-y:auto;">
        <div class="modal-content" style="border:none">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" >
                <table class="table">
                    <tr>
                        <td width="17%">根据实际填写：</td>
                        <td id="c_name"></td>
                    </tr>
                    <tr>
                        <td width="17%">根据实际填写：</td>
                        <td id="c_name"></td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- end -->

<script type="text/javascript">
    $(function () {
    //1.初始化Table
    var oTable = new TableInit();
    oTable.Init();

    //2.初始化Button的点击事件
    var oButtonInit = new ButtonInit();
    oButtonInit.Init();

    //3.初始化select的change事件
    $("#zl_export").change(function () {
        $('#tb_departments').bootstrapTable('refreshOptions', {
            exportDataType: $(this).val()
        });
    });
});

var TableInit = function () {
    var oTableInit = new Object();
    //初始化Table
    oTableInit.Init = function () {
        $('#tb_departments').bootstrapTable({
            url: "{$Think.const.SITE_URL}Super/PerAndRole/role_areadata",         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: oTableInit.queryParams,//传递参数（*）
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索
            // strictSearch: false, //是否启用全匹配搜索
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,              //是否显示刷新按钮
            // showPaginationSwitch: true,
            minimumCountColumns: 2,             //最少允许的列数
            // clickToSelect: true,                //是否启用点击选中行
            // height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            // detailView: true,                   //是否显示父子表
            showExport:true,
            exportDataType: "basic",
            //注册加载子表的事件。注意下这里的三个参数！
            // onExpandRow: function (index, row, $detail) {
            //     show(index, row, $detail);
            // },
            // onDblClickCell:function(field,value,row,$element){
            //     show(field,value,row,$element);
            // },
            columns: [{
                checkbox: true
            }, {
                field: 'name',
                title: '权限名称',
                sortable:true
            },{
                field: 'created_at',
                title: '创建时间',
                sortable:true
            }, {
                field:'id',
                formatter:function(value,row,index){
                var a='<a href="{$Think.const.SITE_URL}Super/PerAndRole/role_edit?id='+value+'">修改</a> &nbsp;<a href="{$Think.const.SITE_URL}Super/PerAndRole/role_index?action=del&id='+value+'">删除</a>&nbsp;<a href="{$Think.const.SITE_URL}Super/PerAndRole/power?id='+value+'">赋权</a>';
                return a;
                },
                title: '操作',
            },
            ]
        });
    };

    // 详细信息展示
    function show(field,value,row,$element){
        $('#myModal').modal({
            keyboard: true
        });
        $("#myModalLabel").html(row.name+'--详情查看')
        $("#c_jcasj_tag").html(jcasj_tag);
        $("#c_jgdz").html(row.jgdz);
        $("#c_jgdh").html(row.jgdh);
        $("#c_qygk").html(row.qygk);
        $("#c_created_at").html(row.created_at);
     };

    // 批量删除
    $("#btn_delete").click(function(event) {
        // var check=$('#tb_departments').bootstrapTable('getSelections');
        // var check=JSON.stringify(check);
        // var check=$.parseJSON(check);
        // var id_array=new Array();
        // $.each(check,function(index, el) {
        //     id_array.push(el.id);
        // });
        $table=$('#tb_departments');
            var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id;
        });
        $.post("{$Think.const.SITE_URL}Super/PerAndRole/alldel", {id: ids}, function(data) {
            if(data==1){
                $table.bootstrapTable('remove', {field: 'id', values: ids});
            }
            if(data==0){
                alert("请先删除下级地级市！");
            }
        });

    });

    //得到查询的参数
    oTableInit.queryParams = function (params) {
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            departmentname: $("#txt_search_departmentname").val(),
            statu: $("#txt_search_statu").val()
        };
        return temp;
    };
    return oTableInit;
};


var ButtonInit = function () {
    var oInit = new Object();
    var postdata = {};

    oInit.Init = function () {
        //初始化页面上面的按钮事件

    };

    return oInit;
};

</script>

<pre>
共包含：机构管理一个显示选项卡，机构添加、机构修改两个隐藏选项。
地区权限：自己管理的地区信息，如某省、某地级市或某区县。
1.  机构管理
分页列表显示自己地区权限内的所有已经添加的机构信息，并可对其具体的某条记录进行修改和删除。
点击“修改”弹出“机构修改”选项卡，表单默认显示已经添加的机构信息（具体信息详见数据库设计），可以进行修改，点击“提交”按钮完成修改。
点击“删除”，可删除该机构信息。
提供机构添加功能，点击“新增”按钮弹出“机构添加”选项卡，可以添加机构信息（具体信息详见数据库设计）。
另外，还提供批量删除复选选择、相关检索、显示切换、列选择以及丰富的数据导出功能。
可以通过自己地区权限内的隶属省、隶属地级市或隶属区县的检索筛选出具体某个机构

</pre>

</block>


<block name="plugins">


</block>




<block name="scripts">

<script type="text/javascript">
  jQuery(document).ready(function() {

    /*var active_class = 'active';
    $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
      var th_checked = this.checked;//checkbox inside "TH" table header

      $(this).closest('table').find('tbody > tr').each(function(){
        var row = this;
        if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
        else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
      });
    });

    //select/deselect a row when the checkbox is checked/unchecked
    $('#simple-table').on('click', 'td input[type=checkbox]' , function(){
      var $row = $(this).closest('tr');
      if(this.checked) $row.addClass(active_class);
      else $row.removeClass(active_class);
    });

    *//**
     * 删除按钮警告提示
     *//*

    $('.delete-btn').click(function(e) {
      if (confirm('您确定要执行此操作吗？请慎重！') == false) {
        return false;
      }
    });

    $('.delete-checked').click(function(e) {
      var checkbox = $('#simple-table > tbody > tr > td input[type=checkbox]:checked');
      if (!checkbox.length) {
        alert('您还没有选中任何数据！');
        return false;
      }
      if (confirm('您确定要执行此操作吗？请慎重！') == false) {
        return false;
      }
      var ids = new Array();
      checkbox.each(function () {
        ids.push([$(this).val()]);
      });
      var href = "{$Think.const.SITE_URL}Super/Dep/Index/id" + '/' + ids;
      location.href = href;
    });
*/

  });
</script>

<present name="message">
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
  var time = --wait.innerHTML;
  if(time <= 0) {
    location.href = href;
    clearInterval(interval);
  };
}, 1000);
})();
</script>
</present>
</block>

