<extend name="layout/layout" />

<block name="content">
<!-- 面包屑导航 开始 -->
<div class="main breadcrumb_nav trans_3">
	<span class="layui-breadcrumb" lay-separator="—">
	  <a href="./index.html">首页</a><a href="">{$tc1}</a><a><cite>{$tc2}</cite></a>
	</span>
</div>
<!-- 面包屑导航 结束 -->
<!-- 图片列表开始 -->
<div class="main">
	<div class="picture_list_container">
		<ul>
			<foreach name="data" item="vo">
				<li class="trans_3">
					<a href="{$vo.link}" class="pic"><img src="{$Think.const.SITE_URL}/{$vo.pic}" alt="{$vo.title}"></a>
					<h2 class="title"><a href="{$vo.link}">{$vo.title}</a></h2>
					<p class="desc">{$vo.cont}</p>
					<div class="date_hits">
						<p class="date"><span>{$vo.writer}</span><span><?php $vo1 = $vo['created_at']; echo substr($vo1,0,10);?></span></p>
						<span class="hits"><i class="layui-icon" title="点击量">&#xe62c;</i>{$vo.click_num} ℃</span>
						<a href="{$vo.link}" class="layui-btn layui-btn-primary">下载</a>
					</div>
				</li>
			</foreach>
			<div class="clear"></div>
		</ul>
	</div>
	<div id="page" style="min-height: 10px;">
		<ul class="pagination">
			<li class="disabled"><span>&laquo;</span></li><li class="active"><span>1</span></li><li><a href="">2</a></li> <li><a href="">&raquo;</a></li>
		</ul>
	</div>
</div>
<!-- 图片列表结束 -->
</block>