<ul class="nav nav-tabs">
    <li>
        <a href="{$Think.const.SITE_URL}Super/User/index">
            用户管理
        </a>
    </li>
    <li class="hidden">
        <a href="{$Think.const.SITE_URL}Super/User/add">
            用户添加
        </a>
    </li>
    <li class="hidden">
        <a href="{$Think.const.SITE_URL}Super/User/edit">
            密码修改
        </a>
    </li>
    <li class="hidden">
        <a href="{$Think.const.SITE_URL}Super/User/powerEdit">
            角色修改
        </a>
    </li>
     <li class="hidden">
        <a href="{$Think.const.SITE_URL}Super/User/powerGuide">
            选择级别
        </a>
    </li>
</ul>
