<ul class="nav nav-tabs">

	<li>
		<a href="{$Think.const.SITE_URL}/Super/Security/SuperLog">
			日志查看
		</a>
	</li>

	<li class="hidden">
		<a href="{$Think.const.SITE_URL}/Super/Security/Detail">
			详情查看
		</a>
	</li>

	<li>
		<a href="{$Think.const.SITE_URL}/Super/Security/PwRevise">
			密码修改
		</a>
	</li>
	<li class="hidden">
		<a href="{$Think.const.SITE_URL}/Super/Security/Information">
			站长信息修改
		</a>
	</li>
	<li class="hidden">
		<a href="{$Think.const.SITE_URL}/Super/Security/Show">
			前台信息修改
		</a>
	</li>
</ul>